<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion admin-sidebar"
    id="accordionSidebar">

    <!-- Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/adminDashboard">
        <div class="sidebar-brand-icon">
            <img src="/img/icons8-riot-games-500.png" width="28">
        </div>
        <div class="sidebar-brand-text mx-2">Event Admin</div>
    </a>

    <hr class="sidebar-divider my-0">

    <!-- Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/adminDashboard">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Product Management -->
    <div class="sidebar-heading">
        Management
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/event-page">
            <i class="fas fa-plus-circle"></i>
            <span>Add Event</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/getAllEvent">
            <i class="fas fa-list"></i>
            <span>Event List</span>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/category-page">
            <i class="fas fa-plus-circle"></i>
            <span>Add Category</span>
        </a>


    <hr class="sidebar-divider">

    <!-- Authentication -->
    <div class="sidebar-heading">
        Authentication
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/register-page">
            <i class="fas fa-user-plus"></i>
            <span>Register</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/login-page">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/forget-page">
            <i class="fas fa-sign-in-alt"></i>
            <span>forget password</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Utilities -->
    <div class="sidebar-heading">
        User
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/user-page">
            
            <i class="fas fa-user-cog"></i>

            <span>User</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <!-- Toggle -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
